.HeaderNav {
    grid-area: HeaderNav;
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    width: var(--Desktop-fixed-width);

    display: flex;

    justify-content: space-around;
    align-items: center;

}

.wrapper-menu {
    display: flex;
    gap: 22px;
    font-size: 22px;
}

.wrapper-menu a {
    text-decoration: none;
    color: black;
}

.wrapper-menu>a img {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.wrapper-research {
    position: relative;
    display: flex;
    max-width: 215px;
    max-height: 28px;
    width: 100%;
    height: 100%;
}

.wrapper-research input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border-radius: 5px;
    font-size: 14px;
    background-image: url('assets/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 25px;
    outline: none;
    border: 1px solid #DBDBDB;
    background-position: 1px center;
}

.wrapper-research input::placeholder {
    color: #8E8E8E;
}

.wrapper-research input:focus::placeholder {
    color: transparent;
}

.userList {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    z-index: 9999;
    background-color: #ffff;
}

.userList .Profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userList .user img {
    width: 35px;
    height: 35px;

}

.button-follow {
    width: 100%;
    text-align: center;
    background-color: #4685d8c9;
    font-size: small;
    padding: 5px 0;
    font-weight: bold;
}

.sign-out-button {
    position: absolute;
    top: 45px;
    transform: translateX(-120%);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    cursor: pointer;
}

.sign-out-button:hover {
    background-color: #ffffff;
}