.Home-user {
    display: grid;

    column-gap: 28px;
    justify-content: center;

    grid-template-columns: var(--Story-poster-width) var(--Suggestion-width);
    grid-template-areas:
        "Story-section Suggesstion"
    ;
    grid-template-rows: 150px 1fr;
    margin-top: 27px;
}

.Poster-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}